/*
*LOADING 2
*/

.no-border {
    border: none;
}

.bg-itube-default {
    background-color: #141414;
    color: #fff;
}

.bg-itube-softdark {
    background-color: #6C6B6B;
    color: #fff;
}

.bg-itube-light {
    background-color: #EEEEEE;
}

.itube-bg-comfort {
    background-color: #3D3D3D
}

.bg-light {
    background-color: #fff;
    border-radius: 5px;
    color: #000;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.cssload-loader {
    width: 244px;
    height: 49px;
    line-height: 49px;
    text-align: center;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    font-family: helvetica, arial, sans-serif;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 18px;
    color: rgb(206, 66, 51);
    letter-spacing: 0.2em;
    z-index: 10;
}

.cssload-loader::before, .cssload-loader::after {
    content: "";
    display: block;
    width: 15px;
    height: 15px;
    background: rgb(206, 66, 51);
    position: absolute;
    animation: cssload-load 0.81s infinite alternate ease-in-out;
    -o-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -ms-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -webkit-animation: cssload-load 0.81s infinite alternate ease-in-out;
    -moz-animation: cssload-load 0.81s infinite alternate ease-in-out;
}

.cssload-loader::before {
    top: 0;
}

.cssload-loader::after {
    bottom: 0;
}

@keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-o-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-ms-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-webkit-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}

@-moz-keyframes cssload-load {
    0% {
        left: 0;
        height: 29px;
        width: 15px;
    }
    50% {
        height: 8px;
        width: 39px;
    }
    100% {
        left: 229px;
        height: 29px;
        width: 15px;
    }
}


/*
* CSS loader 3
*/

#floatingBarsG {
    position: relative;
    width: 186px;
    height: 231px;
    margin: auto;
}

.blockG {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 30px;
    height: 72px;
    border-radius: 24px 24px 0 0;
    -o-border-radius: 24px 24px 0 0;
    -ms-border-radius: 24px 24px 0 0;
    -webkit-border-radius: 24px 24px 0 0;
    -moz-border-radius: 24px 24px 0 0;
    transform: scale(0.4);
    -o-transform: scale(0.4);
    -ms-transform: scale(0.4);
    -webkit-transform: scale(0.4);
    -moz-transform: scale(0.4);
    animation-name: fadeG;
    -o-animation-name: fadeG;
    -ms-animation-name: fadeG;
    -webkit-animation-name: fadeG;
    -moz-animation-name: fadeG;
    animation-duration: 0.622s;
    -o-animation-duration: 0.622s;
    -ms-animation-duration: 0.622s;
    -webkit-animation-duration: 0.622s;
    -moz-animation-duration: 0.622s;
    animation-iteration-count: infinite;
    -o-animation-iteration-count: infinite;
    -ms-animation-iteration-count: infinite;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-direction: normal;
    -o-animation-direction: normal;
    -ms-animation-direction: normal;
    -webkit-animation-direction: normal;
    -moz-animation-direction: normal;
}

#rotateG_01 {
    left: 0;
    top: 84px;
    animation-delay: 0.2295s;
    -o-animation-delay: 0.2295s;
    -ms-animation-delay: 0.2295s;
    -webkit-animation-delay: 0.2295s;
    -moz-animation-delay: 0.2295s;
    transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    -moz-transform: rotate(-90deg);
}

#rotateG_02 {
    left: 24px;
    top: 30px;
    animation-delay: 0.316s;
    -o-animation-delay: 0.316s;
    -ms-animation-delay: 0.316s;
    -webkit-animation-delay: 0.316s;
    -moz-animation-delay: 0.316s;
    transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
}

#rotateG_03 {
    left: 78px;
    top: 9px;
    animation-delay: 0.3925s;
    -o-animation-delay: 0.3925s;
    -ms-animation-delay: 0.3925s;
    -webkit-animation-delay: 0.3925s;
    -moz-animation-delay: 0.3925s;
    transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
}

#rotateG_04 {
    right: 24px;
    top: 30px;
    animation-delay: 0.469s;
    -o-animation-delay: 0.469s;
    -ms-animation-delay: 0.469s;
    -webkit-animation-delay: 0.469s;
    -moz-animation-delay: 0.469s;
    transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
}

#rotateG_05 {
    right: 0;
    top: 84px;
    animation-delay: 0.5455s;
    -o-animation-delay: 0.5455s;
    -ms-animation-delay: 0.5455s;
    -webkit-animation-delay: 0.5455s;
    -moz-animation-delay: 0.5455s;
    transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
}

#rotateG_06 {
    right: 24px;
    bottom: 21px;
    animation-delay: 0.622s;
    -o-animation-delay: 0.622s;
    -ms-animation-delay: 0.622s;
    -webkit-animation-delay: 0.622s;
    -moz-animation-delay: 0.622s;
    transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    -moz-transform: rotate(135deg);
}

#rotateG_07 {
    bottom: 0;
    left: 78px;
    animation-delay: 0.6985s;
    -o-animation-delay: 0.6985s;
    -ms-animation-delay: 0.6985s;
    -webkit-animation-delay: 0.6985s;
    -moz-animation-delay: 0.6985s;
    transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
}

#rotateG_08 {
    left: 24px;
    bottom: 21px;
    animation-delay: 0.775s;
    -o-animation-delay: 0.775s;
    -ms-animation-delay: 0.775s;
    -webkit-animation-delay: 0.775s;
    -moz-animation-delay: 0.775s;
    transform: rotate(-135deg);
    -o-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
    -moz-transform: rotate(-135deg);
}

@keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-o-keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-ms-keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-webkit-keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}

@-moz-keyframes fadeG {
    0% {
        background-color: rgb(0, 0, 0);
    }
    100% {
        background-color: rgb(255, 255, 255);
    }
}


/*
* Nút play thumbnail
*/

.thumbnail-btn-play {
    opacity: 0.7;
    position: absolute;
    left: 45%;
    z-index: 20;
    /*padding: 5px;*/
    cursor: pointer;
    /* width: 0;
    height: 0;*/
    padding: 0;
    border-top: 30px solid transparent;
    border-left: 40px solid #FFFFFF;
    border-bottom: 30px solid transparent;
}

.thumbnail-btn-play:hover {
    width: 0;
    height: 0;
    border-left: 40px solid #D90202;
}

.thumbnail-pre-img {
    height: 90%;
    width: 100%;
    display: block;
    position: relative;
}

.thumbnail a {
    cursor: pointer;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12pt;
    top: 4.5rem;
}

.video-name {
    height: 5em;
    overflow-y: hidden;
}


/*
*Thumbnail video modal
*/

.no-border {
    border: none;
}

.videos {
    background-color: #322E2E;
}

.cation-wrap {
    display: inline-block;
    position: relative;
    top: 0;
}

.caption {
    position: relative;
    display: block;
    height: 70px;
    color: #fff;
    background-color: #0E0E0E;
    overflow-y: hidden;
}

.caption span {
    display: flex;
    word-wrap: break-word;
    /*word-break: break-all;  */
    color: #ffffff;
    cursor: pointer;
}


/*
* Custom csssssss
*/

.card-body-custom {
    height: 4rem;
    overflow-y: hidden;
    padding: .5em;
}

.carousel-caption-custom {}

.carousel-item img:first-child {
    max-height: 350px;
    width: 100%;
}

#navbar-top {
    transition: 0.4s;
}

.hidden {
    visibility: hidden;
}

.visible {
    visibility: visible;
}

.itube-rules {
    height: 100%;
    /*overflow: unset;   */
    scroll-behavior: smooth;
}

.itube-bg-black {
    background-color: #141414;
    color: #fff;
}

.itube-bg-default {
    background: #fff;
    color: #000;
}

#alert {
    text-align: center;
}


/*.mobile-scroll-ver{
    top:-80px;
    position: absolute;
}*/

#video-info {
    text-align: justify;
    
    height: 100%;
}

#video-info a {
    text-decoration: none;
    color: #fff;
    /*font-weight: bold;*/
}

#video-info span {
    font-weight: bold;
    padding-right: 0.5rem;
}

.owl-container {
    position: absolute;
    z-index: 10;
}
.owl-item{
    min-width: 262.79px;
    max-width: 460px;
}
.owl-item:hover .owl-video-name {
    background-color: rgba(0, 0, 0, 0.9);
}

.owl-video-name {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 3.5em;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.6);
    transition: 0.6s;
    padding: 5px;
    cursor: pointer;
}

.owl-video-name a {
    text-decoration: none;
    font-weight: normal;
    overflow-x: hidden;
}

.owl-video-name:hover {
    height: 70%;
}

.animate {
    display: none;
    transition: 1s;
}

.playlist-body {
    display: inline-block;
    min-height: 15rem;
    max-height: 25rem;
}

#playlistTab a {
    cursor: pointer;
}

.sub-no {
    font-size: 8pt;
    opacity: 0.7;
    cursor: none;
}

.bottom-bot{
    position: absolute;
    top: 0;
    right: 1.8rem;
    cursor: pointer;
}
.user-thumb-avatar{
    border: 2px solid rgba(214,214,214,0.4);

}
/*smartphone*/

@media only screen and (max-width: 767px) {
    #main {
        margin-top: 45px;
    }
    #video-trending {}
    #menu {
        display: none;
    }
    #video-list {
        padding-top: 50px;
    }
    #page-header {
        padding-top: 60px;
    }
    .btn-collapse-container {
        display: none;
        width: 0px;
        /*box-shadow: 0 0 0 10px rgba(213, 234, 0, 0.2), 0 0px 0px 10px rgba(0, 0, 0, 0.19);*/
    }
    .thumbnail a {
        top: 5.5rem;
    }
}


/*For tablet*/

@media only screen and (max-width: 768px) {
    .mobile-scroll-ver {
        top: -50%;
        transition: 1s;
    }
    #video-player-container {
        padding-top: 1.4rem;
    }
    .thumbnail-btn-play {
        top: 35%;
    }
}


/*For lage screen screen: laptop, pc, tv*/

@media only screen and (min-width: 768px) {
    .desktop-scroll-ver {
        top: -80px;
    }
    .thumbnail-btn-play {
        top: 15%;
    }
    #navbar-search {
        width: 400px;
    }
    .border-left {
        border-left: 1pt solid #3D3737;
        /*border-radius: 5%;*/
        height: 100%;
    }
    .nav-link:hover {
        /*background-color: rgba(33, 136, 56, 0.7);*/
        color: #fff;
    }
    .toggle-menu-btn {
        position: absolute;
        left: 0;
        top: 0;
    }
    /* Tooltip */
    .tooltip>.tooltip-inner {
        background-color: #fff;
        color: #000;
        border: 1px solid #fff;
        padding: 5px;
        font-size: 10pt;
    }
    /* Tooltip on top */
    .tooltip.top>.tooltip-arrow {
        border-top: 5px solid #fff;
    }
    .left-collapse-menu {
        background-color: #1D1D1D;
    }
    #right-content {}
}

@media only screen and (min-width: 1024px) {
    .thumbnail-btn-play {
        top: 30%;
    }
}


/*icon animate*/

.c-hamburger {
    display: block;
    position: relative;
    overflow: hidden;
    margin: 0;
    padding: 0;
    width: 40px;
    height: 40px;
    font-size: 0;
    text-indent: -9999px;
    appearance: none;
    box-shadow: none;
    border-radius: none;
    border: none;
    cursor: pointer;
    transition: background 0.3s;
    background-color: inherit;
}

.c-hamburger:focus {
    outline: none;
}

.c-hamburger span {
    display: block;
    position: absolute;
    width: 24px;
    /*background-color: #000;*/
    top: 20px;
    left: 8px;
    right: 18px;
    height: 8px;
    background: #000;
}

.c-hamburger span::before, .c-hamburger span::after {
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    background-color: #000;
    content: "";
}

.c-hamburger span::before {
    top: -10px;
}

.c-hamburger span::after {
    bottom: -10px;
}

.c-hamburger--htra {
    /*background-color: #EC9835;*/
}

.c-hamburger--htra span {
    transition: transform 0.3s;
    height: 4px;
}

.c-hamburger--htra span::before {
    transform-origin: top left;
    transition: transform 0.3s, width 0.3s, top 0.3s;
}

.c-hamburger--htra span::after {
    transform-origin: bottom left;
    transition: transform 0.3s, width 0.3s, bottom 0.3s;
}


/* active state, i.e. menu open */

.c-hamburger--htra.is-active {
    /*background-color: #141414;*/
    /*border: 1px solid #fff;*/
    border-radius: 10%;
    transition: 0.5s;
}

.c-hamburger--htra.is-active span {
    top: 45%;
    transform: rotate(180deg);
}

.c-hamburger--htra.is-active span::before, .c-hamburger--htra.is-active span::after {
    width: 50%;
}

.c-hamburger--htra.is-active span::before {
    top: 0;
    transform: translateX(-4px) translateY(2px) rotate(-45deg);
}

.c-hamburger--htra.is-active span::after {
    bottom: 0;
    transform: translateX(-4px) translateY(-2px) rotate(45deg);
}