<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" content="width=device-width, initial-scale=1.0" name="viewport">
            <title>
                itube
            </title>
            <link href="../assets/css/bootstrap.min.css" rel="stylesheet"/>
            <link href="../assets/css/customize.css" rel="stylesheet"/>
            <link href="../assets/owl-slider/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet"/>
            <link href="../assets/owl-slider/owlcarousel/assets/owl.theme.green.min.css" rel="stylesheet"/>
        </meta>
    </head>
    <body class="bg-itube-default" ng-app="itube">
        <div class="container-fluid pt-md-5 pt-lg-5 itube-rules" ng-controller="videoInfoCtrl">
            <div class="row">
                <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark" id="navbar-top">
                    <a class="navbar-brand" href="index.html">
                        #itube
                    </a>
                    <button aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarColor01" data-toggle="collapse" type="button">
                        <span class="navbar-toggler-icon">
                        </span>
                    </button>
                </nav>
            </div>
            <!-- player -->
            <div class="row" id="video-player-container">
                <div class="row col-md-12 bg-itube-softdark m-0">
                    <div class="col-md-3 ">
                    </div>
                    <div class="col-md-6">
                        <div id="player">
                        </div>
                        <div>
                            <div class="row p-0 m-0">
                                <h5>
                                    {{videoInfo.name}}
                                </h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--  Info -->
            <div class="row m-0 text-muted" id="video-info">
                <div class="col-md-1 m-0">
                </div>
                <div class="col-md-10 col-xs-12 p-4">
                    <div class="row ">
                        <span>
                            Category:d
                            <a href="">
                                {{videoInfo.category}}
                            </a>
                        </span>
                    </div>
                    <div class="row">
                        <span>
                            Upload:
                        </span>
                        <a href="#">
                            {{videoInfo.authorName}}
                        </a>
                    </div>
                    <div class="row">
                        <span>
                            Upload date: {{videoInfo.birthday}}
                        </span>
                    </div>
                    <div class="row">
                        <p>
                            {{videoInfo.description}}
                        </p>
                    </div>
                    <div class="row">
                        <span>
                            Tags:
                        </span>
                        <div class="text-light" ng-repeat="tag in tags">
                            <a ng-href="search.html?search=video&keyword={{tag}}">
                                {{tag}}
                            </a>
                            ,
                        </div>
                    </div>
                    <!-- Play list//sugest -->
                    <div class="row">
                        <div class="row m-0">
                            <span>
                                Có thể bạn thích
                            </span>
                        </div>
                        <!-- fav slider -->
                        <div class="owl-carousel owl-theme owl-loaded owl-container">
                            <div class="owl-stage-outer ">
                                <div class="owl-stage" ng-controller="videosCtrl">
                                    <div class="owl-item video-item-info" ng-repeat="video in videos" on-finish-render="ngRepeatFinish">
                                        <div class="thumbnail">
                                            <img alt="Preview image" class="owl-preview-img" data-holder-rendered="true" ng-src="https://i.ytimg.com/vi/{{video.videoId}}/hqdefault.jpg">
                                            </img>
                                            <a class="thumbnail-btn-play" ng-href="./watch.html?v={{video.videoId}}">
                                            </a>
                                            <div class="owl-video-name">
                                                <a  ng-href="./watch.html?v={{video.videoId}}">
                                                    {{video.name}}
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--  <div class="owl-controls">
                                <div class="owl-nav">
                                    <div class="owl-prev">
                                        prev
                                    </div>
                                    <div class="owl-next">
                                        next
                                    </div>
                                </div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- footer -->
            </div>
        </div>
        <script src="../assets/js/jquery-3.2.1.min.js" type="text/javascript">
        </script>
        <script src="../assets/js/popper.js" type="text/javascript">
        </script>
        <script src="../assets/js/bootstrap.min.js" type="text/javascript">
        </script>
        <script src="../assets/angular/angular.min.js" type="text/javascript">
        </script>
        <script src="../assets/angular/angular-loader.js" type="text/javascript">
        </script>
        <script src="../assets/owl-slider/owlcarousel/owl.carousel.min.js">
        </script>
        <script src="../assets/owl-slider/vendors/jquery.mousewheel.min.js">
        </script>
        <script src="../../m/ytAPI.js" type="text/javascript">
        </script>
        <script src="../../m/itube.js" type="text/javascript">
        </script>
        <script src="../../c/itubeCtrl.js" type="text/javascript">
        </script>
        <script data-cfasync="false">
            (function(r,e,E,m,b){E[r]=E[r]||{};E[r][b]=E[r][b]||function(){
              (E[r].q=E[r].q||[]).push(arguments)};b=m.getElementsByTagName(e)[0];m=m.createElement(e);
              m.async=1;m.src=("file:"==location.protocol?"https:":"")+"//s.reembed.com/G-ndLM8n.js";
              b.parentNode.insertBefore(m,b)})("reEmbed","script",window,document,"api");
        </script>
        <script src="../assets/js/player.js" type="text/javascript">
        </script>
        <script>
            $(document).ready(function(){        
               
             });
        </script>
    </body>
</html>