<div ng-controller="playlistCtrl" ng-init="init()">
    <div ng-show="show">
        <div class="pll-switch-tab">
            <nav class="nav nav-tabs" id="playlistTab" role="tablist">
                <a class="nav-item nav-link" ng-class="{'active': tabName ==='playlist'}" ng-click="switchTab('playlist'); ini()">
                    Playlist
                </a>
                <a class="nav-item nav-link" ng-class="{'active': tabName ==='new-playlist'}" ng-click="switchTab('new-playlist')">
                    New playlist
                </a>
            </nav>
        </div>
        <div class="col-md-12" ng-switch="tabName">
            <div class="col-md-12 " ng-switch-when="playlist">
                <div class="row col-md-12 mt-3">
                    <nav class="col-md-12" ng-show="totalPage">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" ng-class="{'disabled': currentPage<=1}">
                                <a class="page-link" href="" ng-click="prev()" ng-model="currentPage">
                                    Previous
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': currentPage<=1}">
                                <a class="page-link" href="" ng-bind="currentPage" ng-click="pagination('minus')">
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': currentPage>=totalPage}">
                                <a class="page-link" href="" ng-bind="currentPage+1" ng-click="pagination('c')">
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': currentPage>=totalPage-1}">
                                <a class="page-link" href="" ng-bind="currentPage+2" ng-click="pagination('plus')">
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': currentPage>=totalPage-1}">
                                <a class="page-link" href="" ng-click="next()" ng-model="currentPage">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- {{totalPage}} -->
                </div>
                <div class="col-md-4 col-lg-4 mb-3 float-left pl-thumb" name="video-block" ng-repeat="playlist in playlists">
                    <div class="thumbnail text-white bg-dark " ng-if="playlist">
                        <div class="card-header">
                            <span class="sub-no">
                                no.
                            </span>
                            <span ng-bind="playlist.id">
                            </span>
                        </div>
                        <div class="playlist-body col-md-12">
                            <img alt="playlist thumbnail" class="img-thumbnail img-thumbnail-custom" err-src="../assets/img/error404-1.png" ng-src="{{playlist.attributes.thumbnailUrl}}"/>
                            <h5 class="card-title pt-3" ng-bind="playlist.attributes.name">
                            </h5>
                            <p class="card-text" ng-bind="playlist.attributes.description">
                            </p>
                            <a class="pl-thumb-goto col-md-12" href="">
                                Chi tiết
                            </a>
                        </div>
                        <div class="card-footer ">
                            <div class="row justify-content-center">
                                <div class="col-md-6">
                                    <button class="btn btn-info col-md-12">
                                        Sửa
                                    </button>
                                </div>
                                <div class="col-md-6">
                                    <button class="btn btn-danger col-md-12">
                                        Xoá
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="thumbnail text-white bg-dark mb-3" ng-if="!playlist">
                        <div class="card-header">
                            <span class="sub-no">
                                no.
                            </span>
                        </div>
                        <div class="playlist-body p-3">
                            <img alt="..." class="img-thumbnail" src="../assets/img/loi-404-not-found.jpg">
                                <h5 class="card-title">
                                    Chưa có playlist
                                </h5>
                                <a class="card-text" ng-click="switchTab('new-playlist')">
                                    Tạo mới?
                                </a>
                            </img>
                        </div>
                    </div>
                </div>
                <div class="row col-md-12 mt-3">
                    <nav class="col-md-12" ng-show="totalPage">
                        <ul class="pagination justify-content-center">
                            <li class="page-item" ng-class="{'disabled': currentPage<=1}">
                                <a class="page-link" href="" ng-click="prev()" ng-model="currentPage">
                                    Previous
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': currentPage<=1}">
                                <a class="page-link" href="" ng-bind="currentPage" ng-click="pagination('minus')">
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': currentPage>=totalPage}">
                                <a class="page-link" href="" ng-bind="currentPage+1" ng-click="pagination('c')">
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': currentPage>=totalPage-1}">
                                <a class="page-link" href="" ng-bind="currentPage+2" ng-click="pagination('plus')">
                                </a>
                            </li>
                            <li class="page-item" ng-class="{'disabled': currentPage>=totalPage-1}">
                                <a class="page-link" href="" ng-click="next()" ng-model="currentPage">
                                    Next
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <!-- {{totalPage}} -->
                </div>
            </div>
            <div ng-switch-when="new-playlist">
                <div class="row pt-3 col-md-12 col-lg-12">
                    <div class="col-md-1">
                    </div>
                    <div class="col-md-10">
                        <div class="alert alert-success" id="alert-success" style="display: none">
                        </div>
                        <div class="alert alert-danger" id="alert-error" style="display: none">
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-body" ng-controller="playlistCtrl">
                                <form class="form-horizontal" name="register-form">
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Name
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" name="name" ng-model="dataToSend.data.attributes.name" placeholder="Playlist name." type="text">
                                            </input>
                                            <!-- {{dataToSend.data.attributes.name}} -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Description
                                        </label>
                                        <div class="col-md-8">
                                            <textarea class="form-control" name="Description" ng-model="dataToSend.data.attributes.description" placeholder="Playlist description">
                                            </textarea>
                                            <!--  {{dataToSend.data.attributes.description}} -->
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                            Thumbnail
                                        </label>
                                        <div class="col-md-8">
                                            <input class="form-control" name="thumbnailUrl" ng-model="dataToSend.data.attributes.thumbnailUrl" placeholder="Thumbnail url." type="text">
                                            </input>
                                        </div>
                                        <!-- {{dataToSend.data.attributes.thumbnailUrl}} -->
                                    </div>
                                    <div class="form-group">
                                        <label class="control-label col-md-3">
                                        </label>
                                        <div class="col-md-8">
                                            <button class="btn btn-primary" id="btnSubmit" ng-click="doSubmit()" type="button">
                                                Submit
                                            </button>
                                            <button class="btn btn-default" type="reset">
                                                Reset
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4 col-lg-4 pr-3 pl-3 pt-3 pb-3 float-left" ng-show="!show">
        <div class="thumbnail text-white bg-dark mb-3">
            <div class="card-header">
                <span class="sub-no">
                    error.
                </span>
                403
            </div>
            <div class="playlist-body p-3">
                <img alt="..." class="img-thumbnail" src="../assets/img/403.png">
                    <h5 class="card-title pt-2">
                        Truy cập bị từ chối
                    </h5>
                    <span class="card-text">
                        <a  href="login.html" style="color: #fff;text-decoration: underline;">
                            Đăng nhập để truy cập
                        </a>
                    </span>
                </img>
            </div>
        </div>
    </div>
</div>