<div ng-controller="uploadVideoCtrl" ng-init="init()">
    <div class="col-md-12 col-lg-12" ng-show="show">
        <h4 class="card-title">
            Upload video
        </h4>
        <form class="form-control bg-itube-light no-border">
            <div class="fixed">
                <div class="alert alert-success " id="alert-success" style="display: none">
                </div>
                <div class="alert alert-danger" id="alert-error" style="display: none">
                </div>
                <div class="alert alert-warning" id="alert-warning" style="display: none">
                </div>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-3" for="video-link">
                    Youtube link
                </label>
                <div class="col-md-8">
                    <div class="input-group">
                        <input aria-describedby="linkHelp" class="form-control" id="video-link" name="video-link" ng-model="ytURL" placeholder="Link video from youtube." required="" type="url">
                            <span class="input-group-btn ">
                                <button class="btn btn-primary" id="btn-check-link" ng-click="getYTData()" type="button">
                                    Load!
                                </button>
                            </span>
                        </input>
                    </div>
                    <small class="form-text text-muted" id="linkHelp">
                        Example: https://www.youtube.com/watch?v=lvwn18VLAR8
                    </small>
                </div>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-3" for="video-name">
                    Name
                </label>
                <div class="col-md-8">
                    <input class="form-control" id="video-name" name="video-name" ng-model="attributes.name" placeholder="Enter a name for your video." required="" type="text"/>
                </div>
                <!-- {{attributes.name}} -->
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-3" for="video-description">
                    Description
                </label>
                <div class="col-md-8">
                    <textarea class="form-control" id="video-description" name="video-description" ng-model="attributes.description" placeholder="Descript your video." rows="8">
                    </textarea>
                    <!-- {{attributes.description}} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-3" for="video-keywords">
                    Tags
                </label>
                <div class="col-md-8">
                    <input class="form-control" id="video-tags" name="video-tags" ng-model="attributes.keywords" placeholder="Enter some tags for your video." type="text"/>
                    <!-- {{attributes.keywords}} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="form-control-label col-md-3" for="video-keywords">
                    Playlist
                </label>
                <div class="col-md-8">
                    <select ng-change="setPlId()" ng-model="playlist" ng-options="playlist.attributes.name for playlist in playlistsModel">
                        <!--  <option ng-repeat="playlist in playlistsModel" value="playlist.id">{{playlist.attributes.name}}
                    </option> -->
                    </select>
                    <!-- {{attributes.playlistId}} -->
                </div>
            </div>
            <div class="form-group row">
                <label class="control-label col-md-3">
                </label>
                <div class="col-md-8">
                    <button class="btn btn-primary" id="btn-submit" ng-click="doSubmit()">
                        Submit
                    </button>
                    <button class="btn btn-danger" ng-click="init()" type="reset">
                        Reset
                    </button>
                </div>
            </div>
        </form>
    </div>
    <div class="col-md-12 col-lg-12" ng-show="!show">
        <div class="col-md-4 col-lg-4 pr-3 pl-3 pb-3" name="video-block" ≈="">
            <div class="thumbnail">
                <img alt="Preview image" class="card-img-top thumbnail-pre-img" data-holder-rendered="true" src="../assets/img/loi-404-not-found.jpg">
                    <strong class="video-name">
                        Tính năng cần
                        <a href="login.html" style="text-decoration: underline;">
                            đăng nhập
                        </a>
                    </strong>
                </img>
            </div>
        </div>
    </div>
</div>
<!-- <script>
    console.log('login need');
     // if (typeof(Storage) !== "undefined") {
     //        $scope.tokenKey = localStorage.getItem("tokenKey");
     //        if ($scope.tokenKey === null) {
     //            alert('Bạn cần đăng nhập để thực hiện thao tác này');
     //            $window.location.href = 'index.html'
     //        }
     //    } else {
     //        alert("Sorry, your browser does not support Web Storage...");
     //    }
</script> -->
