<div aria-labelledby="v-pills-home" id="v-pills-home" role="tabpanel">
    <!-- content row -->
    <div class="row" ng-controller="uploadVideoCtrl" ng-init="init()">
        <select ng-model="playlist" ng-options="playlist.attributes.name for playlist in playlistsModel">
            <!--  <option ng-repeat="playlist in playlistsModel" value="playlist.id">{{playlist.attributes.name}}
                    </option> -->
        </select>

    </div>
    <div class="row" id="page-content" ng-controller="videosCtrl" ng-init="init()">
        <div class="row col-md-12"><input type="text" ng-model="videoname"></div>
        
        <div class="col-md-4 col-lg-4 pr-3 pl-3 pb-3" name="video-block" ng-repeat="video in videos | filter : videoname">
            <div class="thumbnail" ng-if="video">
                <img alt="Preview image" class="card-img-top thumbnail-pre-img" data-holder-rendered="true" ng-src="https://i.ytimg.com/vi/{{video.attributes.youtubeId | limitTo:11}}/hqdefault.jpg">
                    <a class="thumbnail-btn-play" ng-href="./watch.html?v={{video.attributes.youtubeId}}">
                    </a>
                    <a class="video-name" ng-href="./watch.html?v={{video.attributes.videoId}}">
                        {{video.attributes.name}}
                    </a>
                </img>
            </div>
            <div class="row bottom-bot" ng-show="isLogined">
                <a class="btn btn-danger" confirmed-click="deleteVideo(video.attributes.youtubeId)" ng-confirm-click="Are you sure to delete this record ?">
                    Xóa
                </a>
            </div>
        </div>
    </div>
    <div class="row">
        <ul class="pagination-sm" id="pagination">
        </ul>
    </div>
</div>